.card {
  background: rgba(254, 254, 254);
  border-radius: 10px;
  margin-top: 20px;
  padding: 30px;
}

.profile-pic {
  background-repeat: no-repeat;
  background-position: left center;
  margin-right: 20px;
}

.social-info {
  display: flex;
}

.profile-info p {
  margin: 0;
}

.profile-details {
  color: #4b6a9b;
  font-family: Space Mono;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
}
