.container {
  margin-top: 1.5rem;
}

.location,
.website,
.twitter,
.company {
  display: flex;
  padding: 10px 0;
  color: #4b6a9b;
}

.location img {
  margin-right: 26px;
}

.website img,
.twitter img,
.company img {
  margin-right: 20px;
}
