.search-input {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 25px;
  background-color: var(--clr-lm-white);
  padding: 10px;
}

.search-input input {
  display: flex;
  flex-grow: 0.9;
  padding: 0.75rem 0 0.75rem 2rem;
  background-image: url('../assets/icon-search.svg');
  background-repeat: no-repeat;
  background-position: left center;
  border: none;
}

.search-button {
  display: flex;
  padding: 0.75rem;
  border-radius: 0.625rem;
  border-style: none;
  background-color: hsl(212, 100%, 50%);
  color: #fff;
  margin-left: 0.5rem;
}
