.search-bar {
  display: flex;
  align-items: center;
  border-radius: 15px;
  width: 100%;
}

.search-input {
  display: flex;
  align-items: center;
  border-radius: 15px;
  position: relative;
  width: 100%;
}

.search-input input {
  flex-grow: 1;
  padding: 0.5rem;
  background-image: url('../assets/icon-search.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.search-button {
  padding: 8px 16px;
  border-radius: 0.625rem;
  border-style: none;
  background-color: hsl(212, 100%, 50%);
  color: #fff;
  margin-left: 0.5rem;
}
