.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: var(--clr-lm-lightBlue);
  padding: 20px;
  border-radius: 20px;
}

.repos p {
  padding-bottom: 10px;
}

.followers p {
  padding-bottom: 10px;
}

.following p {
  padding-bottom: 10px;
}
