.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.name {
  font-size: 26;
  font-weight: 700;
  font-family: 'Space Mono';
}

.mode {
  display: flex;
  align-items: center;
}

.mode p {
  padding-right: 1rem;
}

.mode img {
  width: 1.25rem;
  height: 1.25rem;
}
